# Python Environment and folders
env
venv
spotify_analytics
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Secrets
config.py

# Cached files
.cache*
debug.log

.DS_Store
*/.DS_Store
db/*
dbt_target/*

.vscode

