# Python Environment and folders
env
venv
spotify_analytics
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Secrets
config.py

# Cached files
.cache*
debug.log
dbt/dbt_modules
dbt/dbt_packages
dbt/logs
dbt/target
dbt/data/.gitkeep
settings.json
.user.yml
.DS_Store
*/.DS_Store
db/*
dbt_target/*

.vscode

